* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100vh;
}


#searchbar {
    border: 1px solid gray;
    display: flex;
    height: 40px;
    width: 100%;
    max-width: 350px;
    padding: 0 10px;
    margin: 30px auto 0;
}

#searchbar:hover,
#searchbar:active {
    border: 2px solid rgb(90, 91, 92);
    background: ghostwhite;
}

.gallery {
  max-width: 900px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.gallery .photo {
  margin: 0 auto;
}

img {
  transition: .5s;
  border: 2px solid rgba(223, 216, 216, 0.433);
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.gallery img:hover {
  transform: scale(1.05);
}